@import "Header.css";

* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

.event-box{
    display:grid;
}

.event-img img{
    width:100%;
}

.chat-box img{
    width:100%;
}
.event img
{
    width:100%;
}
.col,
.col-3,
.col-9{
    padding: 15px;
    margin: 0;
    border: rgb(255, 0, 221);
    border-width: 2px;
    background: rgb(203, 255, 203);
}

@media (max-width: 991.98px) { 

}



