* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

header .navbar-brand{
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Algerian";
}

header .nav-item{
    font-size: 25px;
    margin-left: 30px;
}

header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: rgb(80, 90, 134);;
    height: 3px;
    transform: scale(0);
    transition: all .3s;
}

header .nav-item a:hover::after{
    transform: scale(1);
}

header .auth-box{
    display: flex;
}

header .auth-name{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    margin-left: 15px;
    align-self: flex-start;
}

header{
    margin-bottom: 10px;
}

.event-box{
    display:grid;
}

.event-img img{
    width:100%;
}

.chat-box img{
    width:100%;
}
.event img
{
    width:100%;
}
.col,
.col-3,
.col-9{
    padding: 15px;
    margin: 0;
    border: rgb(255, 0, 221);
    border-width: 2px;
    background: rgb(203, 255, 203);
}
@media (max-width: 991.98px) { 
    /* .auth-box,
    .auth-img,
    .auth-name
    {
        display: none;
    } */
    header .navbar-brand{
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    header .nav-item{
        margin-left: 0px;
        font-size: 16px;
    }
    /* Две эти штуки почему то не робят */
    header .navbar-toggler.colapsed{
        align-self: flex-end;
    }
    header .navbar-toggler{
        align-self: flex-end;
    }
    header .auth-box{
        align-self: flex-end;
    }
    .navbar-brand{
        display: none;
    }

    li {
        display: inline-block;
    }
    /* ... */

}



