* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

header .navbar-brand{
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Algerian";
}

header .nav-item{
    font-size: 25px;
    margin-left: 30px;
}

header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: rgb(80, 90, 134);;
    height: 3px;
    transform: scale(0);
    transition: all .3s;
}

header .nav-item a:hover::after{
    transform: scale(1);
}

header .auth-box{
    display: flex;
}

header .auth-name{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    margin-left: 15px;
    align-self: flex-start;
}

header{
    margin-bottom: 0px;
}

@media (max-width: 991.98px) { 

    header .navbar-brand{
        font-size: 20px;
        padding: 0;
        margin: 0;
        display: none;
    }

    header .nav-item{
        margin-left: 0px;
        font-size: 16px;
    }

    header .auth-box{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}