* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

header .navbar-brand{
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Algerian";
}

header .nav-item{
    font-size: 25px;
    margin-left: 30px;
}

header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: rgb(80, 90, 134);;
    height: 3px;
    transform: scale(0);
    transition: all .3s;
}

header .nav-item a:hover::after{
    transform: scale(1);
}

header .auth-box{
    display: flex;
}

header .auth-name{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    margin-left: 15px;
    align-self: flex-start;
}

header{
    margin-bottom: 10px;
}

.messages-main-box{
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    background: rgb(203, 255, 203);
}

.message{
    height: 70px;
    padding: 5px;
    margin: 5px 0px;
    background:  rgb(202, 247, 144);
}

.message-img{
    height: 60px;
    width: 60px;
}

.wrap{
    display: flex;
    align-items: center; 
} 

.button{
    margin: 5px;
}

.message-content{
    margin: 0px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a{
    text-decoration: none;
    color: #000000;
}

.time{
    display: flex;
    align-items: flex-end;
}

